/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass/reset";
@import "compass/css3";

html,body{
  height:100%;
  width:100%;
}
.longin{
  position:relative;
  width:100%;
  background:#f5f5f5;
  height:100%;
  img{
    width:100%;
    height:100%;
  }
  .contentL{
    width:100%;
    height:16rem;
    position:absolute;
    left:0;
    top:6rem;
    padding:2rem;
    color:#ffffff;
    input{
      width:100%;
      height:2rem;
      margin-bottom:1rem;
      padding-left:1rem;
      font-size:0.7rem;
      background:rgba(255, 255, 255, 0.4);
      border-radius:5px;
      color:#ffffff;
    }
    .aui-btn{
      background:#ffffff;
      color:#000000;
      font-size:0.7rem;
      margin-top:2rem;
    }
    .verify{
      position:relative;
      width:100%;
      input{
        padding-right:4rem;
      }
      .verifyGo{
        position:absolute;
        right:0.5rem;
        top:0;
        font-size:0.6rem;
        border:1px solid #FFFFFF;
       @include border-radius(5px);
        padding:0.1rem 0.2rem;
        margin-top:0.4rem;
      }
    }
  }
}