{% extends "Layout/master.twig" %}
{% block content %}
    <!--banner start-->

    <div class="banner">
    </div>

    <!--banner end-->

    <div class="centent_warp">
        <div class="centent clearfix">
            <div class="cen_l">
                <ul>
                    <li>
                        <img src="/static/home/img/apply/xieyi2.png" alt="">
                    </li>
                    <li>
                        <img src="/static/home/img/apply/fuwu1.png" alt="">
                    </li>
                    <li>
                        <img src="/static/home/img/apply/jiben1.png" alt="">
                    </li>
                    <li>
                        <img src="/static/home/img/apply/guanli1.png" alt="">
                    </li>
                    <li>
                        <img src="/static/home/img/apply/ok1.png" alt="">
                    </li>
                </ul>
            </div>
            <div class="cen_r">
                <h2>签订服务协议</h2>
                <div class="xieCon">
                    <p>协议内容</p>
                </div>
                <a href="#">
                    <div class="btns">
                        同意
                    </div>
                </a>
            </div>
        </div>
    </div>

{% endblock %}

{% block foot_js %}
    <script src="/static/home/js/sign.js"></script>
{% endblock %}

{% block head_css %}
    <link rel="stylesheet" href="/static/home/stylesheets/sign.css">
{% endblock %}