/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/login.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 13, ../sass/login.scss */
.longin {
  height: 100%;
  width: 100%;
}

/* line 17, ../sass/login.scss */
.longin {
  position: relative;
  width: 100%;
  height: 0.7rem;
  background: #f5f5f5;
  height: 100%;
}
/* line 23, ../sass/login.scss */
.longin img {
  width: 100%;
  height: 100%;
}
/* line 27, ../sass/login.scss */
.longin .contentL {
  width: 100%;
  height: 16rem;
  position: absolute;
  left: 0;
  top: 6rem;
  padding: 2rem;
  color: #ffffff;
}
/* line 35, ../sass/login.scss */
.longin .contentL input {
  width: 100%;
  height: 2rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  font-size: 0.7rem;
  background: rgba(255, 255, 255, 0.4);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #ffffff;
}
/* line 46, ../sass/login.scss */
.longin .contentL ul {
  display: -webkit-flex;
  display: flex;
  width: 100%;
}
/* line 49, ../sass/login.scss */
.longin .contentL ul li {
  -webkit-flex: 1;
  flex: 1;
  font-size: 0.7rem;
  color: #ffffff;
}
/* line 53, ../sass/login.scss */
.longin .contentL ul li:first-child {
  text-align: left;
  padding-left: 1rem;
}
/* line 57, ../sass/login.scss */
.longin .contentL ul li:last-child {
  text-align: right;
  padding-right: 1rem;
}
/* line 61, ../sass/login.scss */
.longin .contentL ul li a {
  color: #ffffff;
}
/* line 66, ../sass/login.scss */
.longin .contentL .aui-btn {
  background: #ffffff;
  color: #000000;
  font-size: 0.7rem;
  margin-top: 2rem;
}
