/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/pathway3.scss */
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 12, ../sass/pathway3.scss */
.homepage {
  width: 100%;
  height: 101%;
}

/* line 16, ../sass/pathway3.scss */
.pathway3 {
  width: 100%;
  height: 92%;
}
/* line 19, ../sass/pathway3.scss */
.pathway3 .bg {
  width: 100%;
  height: 100%;
  background: url("../img/pathway/bg.jpg") no-repeat center;
  background-size: 100% 100%;
}
/* line 24, ../sass/pathway3.scss */
.pathway3 .bg ul {
  padding-top: 8rem;
}
/* line 26, ../sass/pathway3.scss */
.pathway3 .bg ul li {
  display: -webkit-flex;
  display: flex;
  padding: 0 1rem;
  margin-bottom: 1rem;
}
/* line 30, ../sass/pathway3.scss */
.pathway3 .bg ul li div {
  -webkit-flex: 1;
  flex: 1;
  text-align: center;
}
/* line 36, ../sass/pathway3.scss */
.pathway3 .bg img {
  width: 5.5rem;
  display: inline-block;
}

/*footer*/
/* line 43, ../sass/pathway3.scss */
.foot {
  height: 8%;
}
/* line 45, ../sass/pathway3.scss */
.foot #footer {
  height: 8%;
  background: #171717;
}
/* line 48, ../sass/pathway3.scss */
.foot #footer .link {
  color: #53C7C4;
}
/* line 52, ../sass/pathway3.scss */
.foot #footer a {
  color: #ffffff;
}

/*footer*/
