/* line 5, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*header start*/
/* line 6, ../sass/_header.scss */
.header {
  height: 80px;
  min-width: 1000px;
  background: #ffffff;
}
/* line 10, ../sass/_header.scss */
.header a {
  text-decoration: none !important;
}
/* line 14, ../sass/_header.scss */
.header h1 {
  font-size: 18px;
  font-weight: bold;
  margin: 20px 10px 10px 0;
}
/* line 19, ../sass/_header.scss */
.header .row {
  height: 80px;
}
/* line 21, ../sass/_header.scss */
.header .row > div {
  height: 80px;
}
/* line 24, ../sass/_header.scss */
.header .row > div ul li {
  margin-left: 3%;
}
/* line 28, ../sass/_header.scss */
.header .row > div > p {
  font-size: 14px;
}
/* line 33, ../sass/_header.scss */
.header .row .navsR {
  margin-top: 30px;
  text-align: right;
}
/* line 36, ../sass/_header.scss */
.header .row .navsR a {
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin: 0 10px;
  color: #57c6bd;
  border: 1px solid #57c6bd;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 3px 10px;
}
/* line 45, ../sass/_header.scss */
.header .row .navsR span {
  font-size: 14px;
  color: #57c6bd;
}
/* line 49, ../sass/_header.scss */
.header .row .navsR .login {
  margin-left: 0;
}
/* line 52, ../sass/_header.scss */
.header .row .navsR .register {
  margin-right: 20px;
}
/* line 56, ../sass/_header.scss */
.header .row ul {
  height: 80px;
  margin-bottom: 0;
}
/* line 59, ../sass/_header.scss */
.header .row ul li {
  float: left;
  margin-left: 10%;
  line-height: 80px;
}
/* line 63, ../sass/_header.scss */
.header .row ul li a {
  padding: 5px;
  font-size: 14px;
  border-bottom: 2px solid #ffffff;
  color: #000000;
}
/* line 68, ../sass/_header.scss */
.header .row ul li a:hover {
  border-bottom: 2px solid #57c6bd;
  color: #57c6bd;
}

/*header end*/
/*banner start*/
/* line 9, ../sass/serverCon.scss */
a {
  text-decoration: none !important;
}

/* line 12, ../sass/serverCon.scss */
.banner {
  position: absolute;
  top: 90px;
  left: 0;
  width: 100%;
  height: 300px;
  overflow: hidden;
  margin-top: -10px;
  background: url("../img/apply/banner.jpg") no-repeat center;
  min-width: 980px;
}

/*banner end*/
/*content start*/
/* line 25, ../sass/serverCon.scss */
.centent_warp {
  margin-top: 290px;
  width: 100%;
  background: #f3f3f3;
  padding-top: 50px;
  padding-bottom: 50px;
}
/* line 31, ../sass/serverCon.scss */
.centent_warp .centent {
  width: 980px;
  min-width: 980px;
  margin: 0 auto;
  height: 1100px;
  /*right*/
}
/* line 36, ../sass/serverCon.scss */
.centent_warp .centent .cen_l {
  width: 170px;
  float: left;
}
/* line 39, ../sass/serverCon.scss */
.centent_warp .centent .cen_l ul {
  width: 170px;
  padding-top: 110px;
}
/* line 42, ../sass/serverCon.scss */
.centent_warp .centent .cen_l ul li {
  width: 170px;
  text-align: center;
  margin-bottom: 10px;
}
/* line 45, ../sass/serverCon.scss */
.centent_warp .centent .cen_l ul li img {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 100px;
  cursor: pointer;
}
/* line 55, ../sass/serverCon.scss */
.centent_warp .centent .cen_r {
  float: left;
  width: 790px;
  height: 1050px;
  background: #ffffff;
}
/* line 60, ../sass/serverCon.scss */
.centent_warp .centent .cen_r .standard {
  border-bottom: 1px solid #eeeeee;
}
/* line 62, ../sass/serverCon.scss */
.centent_warp .centent .cen_r .standard h2 {
  text-align: center;
  padding-top: 40px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
}
/* line 70, ../sass/serverCon.scss */
.centent_warp .centent .cen_r .standard .row > div {
  height: 250px;
}
/* line 73, ../sass/serverCon.scss */
.centent_warp .centent .cen_r .standard .row > div:first-child .tab1 {
  cursor: pointer;
  margin: 60px 170px;
  width: 140px;
  height: 100px;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  text-align: center;
  position: relative;
}
/* line 82, ../sass/serverCon.scss */
.centent_warp .centent .cen_r .standard .row > div:first-child .tab1 .duihao {
  position: absolute;
  right: -1px;
  bottom: -1px;
}
/* line 89, ../sass/serverCon.scss */
.centent_warp .centent .cen_r .standard .row > div:first-child .tab1 p:nth-child(1) {
  font-size: 16px;
  padding-top: 20px;
}
/* line 92, ../sass/serverCon.scss */
.centent_warp .centent .cen_r .standard .row > div:first-child .tab1 p:nth-child(1) span {
  font-weight: bold;
  font-size: 18px;
}
/* line 97, ../sass/serverCon.scss */
.centent_warp .centent .cen_r .standard .row > div:first-child .tab1 p:nth-child(2) {
  font-size: 14px;
  padding-top: 5px;
  text-decoration: line-through;
}
/* line 102, ../sass/serverCon.scss */
.centent_warp .centent .cen_r .standard .row > div:first-child .tab1 p:nth-child(3) {
  font-size: 14px;
  padding-top: 10px;
}
/* line 107, ../sass/serverCon.scss */
.centent_warp .centent .cen_r .standard .row > div:first-child .tab1 .pri {
  color: #f88b52;
}
/* line 111, ../sass/serverCon.scss */
.centent_warp .centent .cen_r .standard .row > div:first-child .addBi {
  border: 1px solid #f88b52;
}
/* line 116, ../sass/serverCon.scss */
.centent_warp .centent .cen_r .standard .row > div:last-child .con {
  width: 300px;
  height: 200px;
  margin: 20px 30px;
  position: relative;
  padding-top: 5px;
  -moz-box-shadow: 0 0 20px 0 #f5a880;
  -webkit-box-shadow: 0 0 20px 0 #f5a880;
  box-shadow: 0 0 20px 0 #f5a880;
}
/* line 123, ../sass/serverCon.scss */
.centent_warp .centent .cen_r .standard .row > div:last-child .con p {
  line-height: 35px;
  padding-left: 20px;
  font-size: 14px;
}
/* line 127, ../sass/serverCon.scss */
.centent_warp .centent .cen_r .standard .row > div:last-child .con p img {
  vertical-align: middle;
}
/* line 130, ../sass/serverCon.scss */
.centent_warp .centent .cen_r .standard .row > div:last-child .con p span {
  padding-left: 10px;
  vertical-align: middle;
}
/* line 135, ../sass/serverCon.scss */
.centent_warp .centent .cen_r .standard .row > div:last-child .con .jianR {
  position: absolute;
  right: -1px;
  top: -1px;
}
/* line 146, ../sass/serverCon.scss */
.centent_warp .centent .cen_r .advanced {
  border-bottom: 1px solid #eeeeee;
}
/* line 148, ../sass/serverCon.scss */
.centent_warp .centent .cen_r .advanced h2 {
  text-align: center;
  padding-top: 40px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
}
/* line 156, ../sass/serverCon.scss */
.centent_warp .centent .cen_r .advanced .row > div {
  height: 200px;
}
/* line 159, ../sass/serverCon.scss */
.centent_warp .centent .cen_r .advanced .row > div:first-child .tab1 {
  cursor: pointer;
  margin: 45px 170px;
  width: 140px;
  height: 100px;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  text-align: center;
  position: relative;
}
/* line 168, ../sass/serverCon.scss */
.centent_warp .centent .cen_r .advanced .row > div:first-child .tab1 .duihao {
  position: absolute;
  right: -1px;
  bottom: -1px;
  display: none;
}
/* line 176, ../sass/serverCon.scss */
.centent_warp .centent .cen_r .advanced .row > div:first-child .tab1 p:nth-child(1) {
  font-size: 16px;
  padding-top: 20px;
}
/* line 179, ../sass/serverCon.scss */
.centent_warp .centent .cen_r .advanced .row > div:first-child .tab1 p:nth-child(1) span {
  font-weight: bold;
  font-size: 18px;
}
/* line 184, ../sass/serverCon.scss */
.centent_warp .centent .cen_r .advanced .row > div:first-child .tab1 p:nth-child(2) {
  font-size: 14px;
  padding-top: 5px;
  text-decoration: line-through;
}
/* line 189, ../sass/serverCon.scss */
.centent_warp .centent .cen_r .advanced .row > div:first-child .tab1 p:nth-child(3) {
  font-size: 14px;
  padding-top: 10px;
}
/* line 194, ../sass/serverCon.scss */
.centent_warp .centent .cen_r .advanced .row > div:first-child .tab1 .pri {
  color: #f88b52;
}
/* line 198, ../sass/serverCon.scss */
.centent_warp .centent .cen_r .advanced .row > div:first-child .addBi {
  border: 1px solid #f88b52;
}
/* line 204, ../sass/serverCon.scss */
.centent_warp .centent .cen_r .advanced .row > div:last-child .con {
  width: 300px;
  height: 140px;
  margin: 20px 30px;
  position: relative;
  padding-top: 5px;
  -moz-box-shadow: 0 0 20px 0 #f5a880;
  -webkit-box-shadow: 0 0 20px 0 #f5a880;
  box-shadow: 0 0 20px 0 #f5a880;
}
/* line 211, ../sass/serverCon.scss */
.centent_warp .centent .cen_r .advanced .row > div:last-child .con p {
  line-height: 35px;
  padding-left: 20px;
  font-size: 14px;
}
/* line 215, ../sass/serverCon.scss */
.centent_warp .centent .cen_r .advanced .row > div:last-child .con p img {
  vertical-align: middle;
}
/* line 218, ../sass/serverCon.scss */
.centent_warp .centent .cen_r .advanced .row > div:last-child .con p span {
  padding-left: 10px;
  vertical-align: middle;
}
/* line 223, ../sass/serverCon.scss */
.centent_warp .centent .cen_r .advanced .row > div:last-child .con .jianR {
  position: absolute;
  right: -1px;
  top: -1px;
}
/* line 236, ../sass/serverCon.scss */
.centent_warp .centent .cen_r .pay h2 {
  text-align: center;
  padding-top: 40px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
}
/* line 245, ../sass/serverCon.scss */
.centent_warp .centent .cen_r .pay .row > div:first-child {
  padding-left: 100px;
  text-align: center;
}
/* line 248, ../sass/serverCon.scss */
.centent_warp .centent .cen_r .pay .row > div:first-child img {
  margin: 30px 0 10px 0;
}
/* line 251, ../sass/serverCon.scss */
.centent_warp .centent .cen_r .pay .row > div:first-child input {
  margin-left: -5px;
}
/* line 255, ../sass/serverCon.scss */
.centent_warp .centent .cen_r .pay .row > div:last-child {
  text-align: center;
  padding-right: 100px;
}
/* line 258, ../sass/serverCon.scss */
.centent_warp .centent .cen_r .pay .row > div:last-child img {
  margin: 30px 0 10px 0;
}
/* line 261, ../sass/serverCon.scss */
.centent_warp .centent .cen_r .pay .row > div:last-child input {
  margin-left: -5px;
}
/* line 269, ../sass/serverCon.scss */
.centent_warp .centent .cen_r .btns {
  width: 140px;
  height: 40px;
  background: #faaf56;
  line-height: 40px;
  margin: 100px auto 0;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
}
/* line 279, ../sass/serverCon.scss */
.centent_warp .centent .cen_r .pris {
  text-align: center;
  margin-top: 20px;
}
/* line 282, ../sass/serverCon.scss */
.centent_warp .centent .cen_r .pris span {
  color: #f88a51;
}
/* line 284, ../sass/serverCon.scss */
.centent_warp .centent .cen_r .pris span strong {
  font-size: 20px;
}

/*content end*/
/*footer start*/
/* line 2, ../sass/_footer.scss */
.footer {
  width: 100%;
  height: 160px;
  background: #282828;
}
/* line 6, ../sass/_footer.scss */
.footer p {
  text-align: center;
  font-size: 14px;
  color: #666666;
}
/* line 10, ../sass/_footer.scss */
.footer p:first-child {
  padding: 55px 0 15px;
}

/*footer end*/
