<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Paging</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">

    <link rel="stylesheet" href="/static/admin/plugins/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="/static/admin/css/global.css" media="all">
    <link rel="stylesheet" href="/static/admin/plugins/font-awesome/css/font-awesome.min.css">
</head>

<body>
<div style="margin: 15px;">
    <blockquote class="layui-elem-quote">
        <h1>Laytpl + Laypage结合动态渲染数据并分页</h1></blockquote>
    <fieldset class="layui-elem-field">
        <legend>演示</legend>
        <div class="layui-field-box">
            <div>
                <form>
                    <input type="text" name="name" />
                    <button type="button" id="search">搜索</button>
                </form>
                <table class="site-table table-hover">
                    <thead>
                    <tr>
                        <th><input type="checkbox" id="selected-all"></th>
                        <th>姓名</th>
                        <th>年龄</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <!--内容容器-->
                    <tbody id="con">
                    <tr>
                        <td><input type="checkbox"></td>
                        <td>Layui</td>
                        <td>Beginner</td>
                        <td>2016-11-16 11:50</td>
                        <td>
                            <a href="javascript:;" target="_blank" class="layui-btn layui-btn-normal layui-btn-mini">预览</a>
                            <a href="javascript:;" class="layui-btn layui-btn-mini">编辑</a>
                            <a href="javascript:;" data-id="1" data-opt="del" class="layui-btn layui-btn-danger layui-btn-mini">删除</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!--分页容器-->
                <div id="paged"></div>
            </div>
            <script type="text/html" id="conTemp">
                {{# layui.each(d.list, function(index, item){ }}
                <tr>
                    <td><input type="checkbox" lay-skin="primary"></td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.age }}</td>
                    <td>{{ item.createtime }}</td>
                    <td>
                        <a href="/detail-1" target="_blank" class="layui-btn layui-btn-normal layui-btn-mini">预览</a>
                        <a href="javascript:;" data-name="{{ item.name }}" data-opt="edit" class="layui-btn layui-btn-mini">编辑</a>
                        <a href="javascript:;" data-id="1" data-opt="del" class="layui-btn layui-btn-danger layui-btn-mini">删除</a>
                    </td>
                </tr>
                {{# }); }}
            </script>

            <script type="text/javascript" src="/static/admin/plugins/layui/layui.js"></script>
            <script>

                //示例代码
                layui.config({
                    base: '/static/admin/js/'
                }).use(['paging', 'code'], function() {
                    layui.code();
                    var $ = layui.jquery,
                        paging = layui.paging();
                    paging.init({
                        //url: '/static/admin/datas/laytpl_laypage_data.json', //地址
                        url: '/admin/admin/admin_lists', //地址
                        elem: '#con', //内容容器
                        params: { //发送到服务端的参数
                            t: Math.random(),
                            action: 'GetXxx'
                        },
                        tempElem: '#conTemp', //模块容器
                        pageConfig: { //分页参数配置
                            elem: '#paged', //分页容器
                            pageSize: 3 //分页大小
                        },
                        success: function() { //渲染成功的回调
                        },
                        fail: function(msg) { //获取数据失败的回调
                        },
                        complate: function(data) { //完成的回调
                        },
                    });
                });
                //ps:服务端是永远可以获取到pageIndex  和 pageSize 这两个参数的

            </script>



        </div>
    </fieldset>
</div>
<!--模板-->
</body>

</html>