@import "compass/reset";
@import "compass/css3";
@import "header";
@import "footer";
/*header start*/
@include header();
/*header end*/
/*banner start*/
.banner{
  width:100%;
  height:300px;
  min-width:980px;
  overflow:hidden;
  position:absolute;
  top:80px;
  left:0;
  background:url("../img/manage/d.jpg") no-repeat center;
}

/*banner end*/
/*content start*/
.content_warp{
  width:100%;
  height:630px;
  background:#f3f3f3;
  margin-top:300px;
  text-align:center;
    img{
      display:block;
      width:100px;
      margin: 0 auto;
      padding-top:110px;
    }
    h3{
      text-align:center;
      padding:25px;
    }
    p{
      text-align:center;
      margin:15px;
    }
    a{
      @include inline-block();
      padding:10px 20px;
      background: #30a8c8;
      color:#ffffff;
      margin-top:20px;
      text-decoration:none;
    }
  }


/*content end*/

/*footer start*/

@include footer();
/*footer end*/

