{% extends "Layout/master.twig" %}
{% block content %}
    <!--轮播图开始-->
    <div class="banner">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide stop-swiping">
                    <img src="/static/home/img/index/banner1.jpg" alt="">
                </div>
                <div class="swiper-slide stop-swiping">
                    <img src="/static/home/img/index/banner1.jpg" alt="">
                </div>
                <div class="swiper-slide stop-swiping">
                    <img src="/static/home/img/index/banner1.jpg" alt="">
                </div>
            </div>
            <!-- 分页器 -->
            <div class="swiper-pagination"></div>
        </div>
        <div class="line-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide stop-swiping">玩够服务平台累计激活公众号 <span>11,545,345</span>人 </div>
                <div class="swiper-slide stop-swiping">玩够服务平台累计激活公众号 <span>11,545,345</span>人</div>
                <div class="swiper-slide stop-swiping">玩够服务平台累计激活公众号 <span>11,545,345</span>人</div>
            </div>
        </div>
    </div>
    <!--轮播图结束-->
    <!--解决开始-->
    <div class="slove">
        <h2>解决方案</h2>
        <ul class="clearfix">
            <li>
                <img src="/static/home/img/index/canyin.jpg" alt="">
                <div><span>餐饮</span></div>
            </li>
            <li>
                <img src="/static/home/img/index/baoye.jpg" alt="">
                <div><span>餐饮</span></div>
            </li>
            <li>
                <img src="/static/home/img/index/liren.jpg" alt="">
                <div><span>餐饮</span></div>
            </li>
            <li>
                <img src="/static/home/img/index/jiudian.jpg" alt="">
                <div><span>餐饮</span></div>
            </li>
            <li>
                <img src="/static/home/img/index/jingqu.jpg" alt="">
                <div><span>餐饮</span></div>
            </li>
            <li><img src="/static/home/img/index/shangchao.jpg" alt="">
                <div><span>餐饮</span></div>
            </li>
            <li><img src="/static/home/img/index/lingshou.jpg" alt="">
                <div><span>餐饮</span></div>
            </li>
        </ul>
    </div>
    <!--解决结束-->
    <div class="news">
        <div class="new_warp">
            <div class="news_nav clearfix">
                <div class="wangou">
                    <span class="addSpan">玩够动态</span>
                </div>
                <div class="meiti">
                    <span>媒体报道</span>
                </div>
            </div>
        </div>
        <div class="new_cW">
            <div class="new_content clearfix">
                <div class="nav_l">
                    <ul>
                        <li class="clearfix">
                            <a href="#">如家酒店公众号正式与玩够服务平台建立战略合作</a>
                            <span>2016-05-06</span>
                        </li>
                        <li class="clearfix">
                            <a href="#">如家酒店公众号正式与玩够服务平台建立战略合作</a>
                            <span>2016-05-06</span>
                        </li>
                        <li class="clearfix">
                            <a href="#">如家酒店公众号正式与玩够服务平台建立战略合作</a>
                            <span>2016-05-06</span>
                        </li>
                        <li class="clearfix">
                            <a href="#">如家酒店公众号正式与玩够服务平台建立战略合作</a>
                            <span>2016-05-06</span>
                        </li>
                        <li class="clearfix">
                            <a href="#">如家酒店公众号正式与玩够服务平台建立战略合作</a>
                            <span>2016-05-06</span>
                        </li>
                    </ul>
                </div>
                <div class="nav_r">
                    <img src="/static/home/img/index/rujia.jpg" alt="">
                    <div class="nav_rb">
                        如家酒店公众号正式与玩够服务平台建立战略合作
                    </div>
                </div>
                <a class="new_move" href="#">
                    <img src="/static/home/img/index/more.png" alt="">
                </a>
            </div>
            <!--查看更多-->
        </div>
    </div>

    <!--品牌服务 start-->
    <div class="service_wiper">
        <div class="service">
            <h2>服务品牌</h2>
            <div class="service_com">
                <img src="/static/home/img/index/service.jpg" alt="">
            </div>

        </div>
        <a class="new_move" href="#">
            <img src="/static/home/img/index/more.png" alt="">
        </a>
    </div>

    <!--品牌服务 end-->

{% endblock %}

{% block foot_js %}
    <script src="/static/home/js/index.js"></script>
{% endblock %}

{% block head_css %}
    <link rel="stylesheet" href="/static/home/stylesheets/index.css">
{% endblock %}